/* GENERAL */

body{
}

img{
    max-width: 100%;
    max-height: 100%;
}


li{
    list-style-type: none;
}

/* COLORI */
#dark-blue{
    background-color: #0e253b;
    color: white;

}

#blue{
    background-color: #1b72e8;
    color: white;
}

#blue-pill{
    background-color: #155bba;
    display: inline-block;
}






/* VARIABILI PER CAMBI VELOCI LAYOUT */
/* :root{
    --searchbar-height: 4rem;

    --sidebar-width: 4rem;
} */



/* BOOTSTRAP COLUMNS */
[class*="col-"]{
    
}





/* SEARCHBAR */

#searchbar{
    height: 3rem;
}


.logo{
    max-height: 2.5rem;
}


/* SIDEBAR */




/* HEADER */



/* MAIN */



/* Next Classes */



/* F.A.Q. */



/* To Do */



/* Active Users */

