/* GENERAL */

body{
    height: 2000px;
    color: red;
}

img{
    max-width: 100%;
    max-height: 100%;
}


li{
    list-style-type: none;
}

/* COLORI */
#dark-blue{
    background-color: #0e253b;
    color: white;
    height: 100vh;

}

#blue{
    background-color: #1b72e8;
    color: white;
}







/* VARIABILI PER CAMBI VELOCI LAYOUT */
/* :root{
    --searchbar-height: 4rem;

    --sidebar-width: 4rem;
} */



/* BOOTSTRAP COLUMNS */
[class*="col-"]{
    min-height: 2rem;
    border: 1px dashed black;
    
}





/* SEARCHBAR */

#searchbar{
    height: 3rem;
}


.logo{
    height: 2.5rem;
}


/* SIDEBAR */




/* HEADER */



/* MAIN */



/* Next Classes */



/* F.A.Q. */



/* To Do */



/* Active Users */

